<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Surname</th>
            <th>Pincode</th>
            <th>Dateofbirth</th>
            <th>JoiningDate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.Username}}</td>
            <td>{{user.Surname}}</td>
            <td>{{user.Pincode}}</td>
            <td>{{user.Dateofbirth}}</td>
            <td>{{user.JoiningDate}}</td>
              <td><button (click)="DeleteUser(userid)" class="btn btn-danger">Delete</button>
                <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
